.chart{
    flex: 4;
    padding: 10px;

    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    border-radius: 10px;
    color: #616161;

    .title{
        margin-bottom: 20px;
    }

    
}
